@model GameObserver.Models.TeamModel

@section header
{
    <script src="/Scripts/MoveTeam.js" type="text/javascript"> </script>
}

<h3> @Model.NameClub</h3>

<div>
    
    <p hidden id="idteamclub">
        @Model.IdClub
    </p>
    <p hidden id="idteamdata">
        @Model.Data
    </p>
    <p hidden id="idteamformation">
        @Model.IdFormation
    </p>

</div>

<button id="idbuttonauto">Auto</button>
<button id="idbuttonreset">Reset</button>
<button id="idbuttonsave">Save</button>
<div>
    <object id="svgobject" type="image/svg+xml" data=@Url.Content("~/fonts/small.svg") width="796" height="440" />
</div>
<p>
    
    @Html.ActionLink("Back to List", "Index")
</p>
