@model IEnumerable<GameObserver.Models.TeamModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.PhotoClub)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameClub)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Formation)
        </th>
        <th></th>
    </tr>*@

@foreach (var item in Model) {
    <tr>
        <td>
            <img src=@Url.Content("~/fonts/"+@item.PhotoClub) width="50" height="50" />
        </td>
        <td>
            @Html.Encode(item.Data.ToString("d"))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameClub)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Formation)
        </td>
        <td>
            @Html.ActionLink("AdjustTeam", "AdjustTeam", new { date = item.Data, idclub = item.IdClub, idformation = item.IdFormation })
            
        </td>
    </tr>
}

</table>
