@model IEnumerable<GameObserver.Models.TeamModel>

@{
    ViewBag.Title = "Índice";
}

<h2>Índice</h2>

<p>
    
    @Html.ActionLink("Criar equipa", "Create")
</p>
<table class="table">
   

@foreach (var item in Model) {
    <tr>
        <td>
            <img src=@Url.Content("~/fonts/"+@item.PhotoClub) width="50" height="50" />
        </td>
        <td>
            @Html.Encode(item.Data.ToString("d"))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameClub)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Formation)
        </td>
        <td>
            @Html.ActionLink("Ver", "AdjustTeam", new { date = item.Data, idclub = item.IdClub, idformation = item.IdFormation })
            
        </td>
    </tr>
}

</table>
