@model Gamestats.Models.GameSetUpModels

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<div>
    <h4>GameSetUpModels</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.stadium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stadium)
        </dd>

        
        <dt>
            @Html.DisplayNameFor(model => model.nameHomeTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nameHomeTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nameAwayTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nameAwayTeam)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
