@model GameObserver.Models.CreateGameModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>CreateGameModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">

            <div class="col-md-10">
                select home team
                <select name="selectedhome">
                    @foreach (var item in Model.AllTeams)
                    {
                        <option value="@item.IdClub|@item.Data">@item.IdClub|@item.Data </option>
                    }
                </select>

            </div>
        </div>
        <div class="form-group">

            <div class="col-md-10">
                select away team
                <select name="selectedaway">
                    @foreach (var item in Model.AllTeams)
                    {
                        <option value="@item.IdClub|@item.Data">@item.IdClub|@item.Data </option>
                    }
                </select>

            </div>
        </div>
        <div class="form-group">

            <div class="col-md-10">
                select stadium
                <select name="selectedstadium">
                    @foreach (var item in Model.AllStadiums)
                    {
                        <option value="@item.Id">@item.Name </option>
                    }
                </select>

            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                select first referee
                <select name="selectedrefereefirst">
                    @foreach (var item in Model.AllReferees)
                    {
                        <option value="@item.Id">@item.Name </option>
                    }
                </select>

            </div>
        </div>


        <div class="form-group">

            <div class="col-md-10">
                select second referee
                <select name="selectedrefereesecond">
                    @foreach (var item in Model.AllReferees)
                    {
                        <option value="@item.Id">@item.Name </option>
                    }
                </select>

            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                select third referee
                <select name="selectedrefereethird">
                    @foreach (var item in Model.AllReferees)
                    {
                        <option value="@item.Id">@item.Name </option>
                    }
                </select>

            </div>
        </div>


        <div class="form-group">

            <div class="col-md-10">
                select four referee
                <select name="selectedrefereefour">
                    @foreach (var item in Model.AllReferees)
                    {
                        <option value="@item.Id">@item.Name </option>
                    }
                </select>

            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")|

</div>
