@model GameObserver.Models.CreateGameModel

@{
    ViewBag.Title = "Criar";
}

<h2>Criar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Criar Partida</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">

            <div class="col-md-10">
                Selecionar equipa da casa
                <select name="selectedhome">
                    @foreach (var item in Model.AllTeams)
                    {
                        <option value="@item.IdClub|@item.Data">@item.NameClub|@item.Data </option>
                    }
                </select>

            </div>
        </div>
        <div class="form-group">

            <div class="col-md-10">
                Selecionar equipa visitante
                <select name="selectedaway">
                    @foreach (var item in Model.AllTeams)
                    {
                        <option value="@item.IdClub|@item.Data">@item.NameClub|@item.Data </option>
                    }
                </select>

            </div>
        </div>
        <div class="form-group">

            <div class="col-md-10">
                Selecionar estádio
                <select name="selectedstadium">
                    @foreach (var item in Model.AllStadiums)
                    {
                        <option value="@item.Id">@item.Name </option>
                    }
                </select>

            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                Selecionar primeiro árbitro
                <select name="selectedrefereefirst">
                    @foreach (var item in Model.AllReferees)
                    {
                        <option value="@item.Id">@item.Name </option>
                    }
                </select>

            </div>
        </div>


        <div class="form-group">

            <div class="col-md-10">
                Selecionar segundo árbitro
                <select name="selectedrefereesecond">
                    @foreach (var item in Model.AllReferees)
                    {
                        <option value="@item.Id">@item.Name </option>
                    }
                </select>

            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                Selecionar terceiro árbitro
                <select name="selectedrefereethird">
                    @foreach (var item in Model.AllReferees)
                    {
                        <option value="@item.Id">@item.Name </option>
                    }
                </select>

            </div>
        </div>


        <div class="form-group">

            <div class="col-md-10">
                Selecionar quarto árbitro
                <select name="selectedrefereefour">
                    @foreach (var item in Model.AllReferees)
                    {
                        <option value="@item.Id">@item.Name </option>
                    }
                </select>

            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Criar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Índice", "Index")|

</div>
