@model GameObserver.Models.MatchModel

@section header
{
    <script src="/Scripts/Move.js" type="text/javascript"> </script>
}

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MatchModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdStadium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdStadium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdFirstReferee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdFirstReferee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdSecondReferee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdSecondReferee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdThirdReferee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdThirdReferee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdFourReferee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdFourReferee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdVisitor)
        </dt>

        <dd id="iddetailssetup_idvisitor">
            @Html.DisplayFor(model => model.IdVisitor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateVisitor)
        </dt>

        <dd id="iddetailssetup_datevisitor">
            @Html.DisplayFor(model => model.DateVisitor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdAgainst)
        </dt>

        <dd id ="iddetailssetup_idagainst">
            @Html.DisplayFor(model => model.IdAgainst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAgainst)
        </dt>

        <dd id="iddetailssetup_dateagainst">
            @Html.DisplayFor(model => model.DateAgainst)
        </dd>

    </dl>
</div>
<button id="idbuttonauto">Auto</button>

<div class="row">
    <object id="svgobject" type="image/svg+xml" data=@Url.Content("~/fonts/4x3x3-4x4x2.svg") height="700" width="1017"/>


</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
