@model GameObserver.Models.GameDetails

@section header
{

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="/Scripts/Move.js" type="text/javascript"> </script>


}

<p hidden id="iddetailssetup_idstadium">
    @Html.DisplayFor(model => model.matchModel.IdStadium)
</p>

<p hidden id="iddetailssetup_date">
    @Html.DisplayFor(model => model.matchModel.Date)
</p>

<p hidden id="iddetailssetup_idvisitor">
    @Html.DisplayFor(model => model.matchModel.IdVisitor)
</p>

<p hidden id="iddetailssetup_datevisitor">
    @Html.DisplayFor(model => model.matchModel.DateVisitor)
</p>

<p hidden id="iddetailssetup_idagainst">
    @Html.DisplayFor(model => model.matchModel.IdAgainst)
</p>


<p hidden id="iddetailssetup_dateagainst">
    @Html.DisplayFor(model => model.matchModel.DateAgainst)
</p>

<p hidden id="idref1">
    @Html.DisplayFor(model => model.matchModel.IdFirstReferee)
</p>
<p hidden id="idref2">
    @Html.DisplayFor(model => model.matchModel.IdSecondReferee)
</p>
<p hidden id="idref3">
    @Html.DisplayFor(model => model.matchModel.IdThirdReferee)
</p>
<p hidden id="idref4">
    @Html.DisplayFor(model => model.matchModel.IdFourReferee)
</p>
<p hidden id="idnameclubvisitor">
    @Html.DisplayFor(model => model.clubvisitor.Name)
</p>
<p hidden id="idnameclubagainst">
    @Html.DisplayFor(model => model.clubagainst.Name)
</p>
<p hidden id="idclubvisitorphoto">
    @Html.DisplayFor(model => model.clubvisitor.Symbol)
</p>
<p hidden id="idclubagainstphoto">
    @Html.DisplayFor(model => model.clubagainst.Symbol)
</p>
<p hidden id="curruserid">
    @User.Identity.Name
</p>
<p hidden id="havecurruser">
    @User.Identity.IsAuthenticated
</p>
<p hidden id="isadmin">
    @User.IsInRole("admin")
</p>



<div id="chart_div2" style="position: absolute; left: 68%; top: 70% "></div>
<div id="chart_div" style="position: absolute; left: 83%; top: 70% "></div>
<div class="row" style="position: absolute; left: 4% ">
    <object id="svgobject" type="image/svg+xml" data=@Url.Content("~/fonts/newsmall.svg") />

</div>

<p>

    @Html.ActionLink("Back to List", "Index")
</p>
