@model IEnumerable<GameObserver.Models.IndexMatch>

@{
    ViewBag.Title = "Índice";
}

<h2>Partidas</h2>

<p>
    @Html.ActionLink("Criar Partida", "Create")
</p>
<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src=@Url.Content("~/fonts/"+@item.HomePhoto) width="50" height="50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayName)
            </td>
            <td>
                <img src=@Url.Content("~/fonts/" + @item.AwayPhoto) width="50" height="50" />
            </td>


            <td>

                @Html.ActionLink("Ver", "Details", new
            {
                idstadium = item.IdStadium,
                date = item.Date,
                idfirstref = item.IdFirstReferee,
                idsecondref = item.IdSecondReferee,
                idthirdref = item.IdThirdReferee,
                idfourref = item.IdFourReferee,
                idvisitor = item.IdVisitor,
                datevisitor = item.DateVisitor,
                idagainst = item.IdAgainst,
                dateagainst = item.DateAgainst
            })


            </td>
        </tr>
    }

</table>
